html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main {
    flex: 1;
    display: block;
}

h1 {
    font-size: 2rem;
    margin: 0.67rem 0;
}

hr {
    height: 0;
    color: inherit;
}

pre {
    font-family: monospace, monospace;
    font-size: 1rem;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1rem;
}

small {
    font-size: 0.875rem;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}
